.weather-details-container {
  width: 500px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 30px;
}

.weather-details-container.haze {
  background-image: url('../assets/haze.jpg');
}

.weather-details-container.drizzle {
  background-image: url('../assets/dranzzel.jpg');
}

.weather-details-container.clear-sky {
  background-image: url('../assets/clear.jpg');
}

.weather-details-container.rain,
.weather-details-container.moderate-rain {
  background-image: url('../assets/rainy.jpg');
}

.weather-details-container.overcast,
.weather-details-container.clouds {
  background-image: url('../assets/overcast.jpg');
}

.weather-details-container.thunderstorm {
  background-image: url('../assets/thanderstrom.jpg');
}

.weather-details-container.default {
  background-image: url('../assets/default.jpg');
}

.weather-details-title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.weather-details-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.weather-details-content p {
  font-size: 20px;
  color: #0d0c0c;
  margin: 10px 0;
  text-align: left;
  display: flex;
}

.weather-details-content p i {
  margin-right: 8px;
}

.weather-details-content p strong {
  font-weight: bold;
}

.clear-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.clear-button i {
  margin-right: 8px;
}

.clear-button:hover {
  background-color: #0056b3;
}